openapi: 3.1.0
info:
  title: Pagent API
  version: 0.1.0
  description: |
    Page publishing for AI agents. MCP exposes exactly `write` and `read`:
    temporary interactive/document pages and durable HTML presentation pages.
    Sharing, permissions, and management use the authenticated web app and
    REST API. Internal deck route names are not another product primitive.

    The `format` field on temporary-page `POST /new` selects the renderer:
    - `a2ui` (default) — `spec` is an A2UI v0.9 message array. Pages take user
      input and produce a result.
    - `html` — `spec` is a sanitized, script-free UTF-8 HTML string
      (up to 1,000,000 bytes). Pages are view-only: they never transition past `open`, and
      `POST /{id}/result` returns 400 `invalid_for_format`.

    Durable `POST /v1/decks` accepts `title` and the complete `html` document,
    preserving the exact source in an immutable revision. Optional
    `update_deck_id` corresponds to MCP `write`'s `page_id`. Legacy `slides`
    remain accepted only for shipped clients and records. HTML runs in an
    opaque-origin sandbox with inline scripts, not the temporary sanitizer.
    HTML analytics report visits/active time, not inferred slide completion.

    See https://github.com/blockful/pagent for the source.

    ## Temporary page lifecycle

    An interactive page walks a 3-state machine: `open → submitted → received`.

    - **open** — created, waiting for a browser submission.
    - **submitted** — the browser has called `POST /{id}/result`. The agent
      has not yet read the result.
    - **received** — the agent called `GET /{id}/result` at least once after
      submission. The state flip is idempotent; subsequent reads keep returning
      `received`.

    ## Authentication modes

    When `REQUIRE_AUTH=false` (rollout grace mode), anonymous requests to
    `POST /new` and `GET /{id}/result` are allowed. OAuth scope checks still
    apply whenever a valid Bearer token is presented: an under-scoped token
    receives 403 even though the same request without credentials is allowed.
    When `REQUIRE_AUTH=true`, both routes also require an authenticated user.
    `GET /{id}` and browser submissions to `POST /{id}/result` remain public.
  contact:
    name: Pagent maintainers
    url: https://github.com/blockful/pagent
  license:
    name: MIT
    url: https://github.com/blockful/pagent/blob/main/LICENSE

servers:
  - url: https://api.pagent.link
    description: Production
  - url: http://localhost:8787
    description: Local development

paths:
  /health:
    get:
      operationId: getHealth
      tags: [Operations]
      summary: Liveness probe with DB connectivity check
      description: |
        Returns 200 when the service and its Postgres connection are healthy.
        Returns 503 when Postgres is unreachable. Railway polls this endpoint
        and restarts the container on 503.

        This endpoint is **not** part of the versioned API contract — it is
        an ops endpoint and may change without notice.
      responses:
        '200':
          description: Service and database are healthy.
          headers:
            X-Request-ID:
              $ref: '#/components/headers/XRequestId'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HealthOk'
              example:
                ok: true
                db: ok
        '503':
          description: |
            Postgres is unreachable. Check the database connection string and
            the Postgres service status before retrying.
          headers:
            X-Request-ID:
              $ref: '#/components/headers/XRequestId'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HealthError'
              example:
                ok: false
                db: error
                message: Database connection failed

  /openapi.json:
    get:
      operationId: getOpenapiJson
      tags: [Operations]
      summary: OpenAPI 3.1 spec (JSON — canonical machine-readable form)
      description: |
        Returns the canonical OpenAPI 3.1 document as `application/json`.
        Parsed once at boot from `docs/openapi.yaml` and cached in memory.
        This is the URL that tooling (Postman, Insomnia, OpenAPI Generator,
        Stoplight) expects to fetch. Returns 503 if the source file was
        missing at boot.
      responses:
        '200':
          description: The OpenAPI document as JSON.
          headers:
            X-Request-ID:
              $ref: '#/components/headers/XRequestId'
          content:
            application/json:
              schema:
                type: object
        '503':
          description: |
            `docs/openapi.yaml` was not found at boot. Ensure the file is
            present in the repository and deployed alongside the API.
          headers:
            X-Request-ID:
              $ref: '#/components/headers/XRequestId'
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    enum: [openapi_unavailable]

  /openapi.yaml:
    get:
      operationId: getOpenapiYaml
      tags: [Operations]
      summary: OpenAPI 3.1 spec (YAML — human-readable courtesy copy)
      description: |
        Returns the same OpenAPI 3.1 document as `application/yaml`.
        Served raw from memory (no re-serialisation). Useful for humans
        who prefer YAML. Tooling should prefer `/openapi.json`.
        Returns 503 if the source file was missing at boot.
      responses:
        '200':
          description: The OpenAPI document as YAML.
          headers:
            X-Request-ID:
              $ref: '#/components/headers/XRequestId'
          content:
            application/yaml:
              schema:
                type: string
        '503':
          description: |
            `docs/openapi.yaml` was not found at boot. Ensure the file is
            present in the repository and deployed alongside the API.
          headers:
            X-Request-ID:
              $ref: '#/components/headers/XRequestId'
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    enum: [openapi_unavailable]

  /docs:
    get:
      operationId: getApiDocs
      tags: [Operations]
      summary: Interactive Scalar API Reference
      description: |
        Returns an HTML page rendering the Pagent API Reference via Scalar.
        Scalar fetches `/openapi.json` client-side and renders an interactive
        explorer — no build step required. Opens directly in a browser.
      responses:
        '200':
          description: The Scalar API Reference HTML page.
          headers:
            X-Request-ID:
              $ref: '#/components/headers/XRequestId'
          content:
            text/html:
              schema:
                type: string

  /.well-known/oauth-authorization-server:
    get:
      operationId: getOAuthAuthorizationServerMetadata
      tags: [Auth]
      summary: OAuth 2.1 authorization-server metadata
      responses:
        '200':
          description: OAuth issuer, endpoints, grants, PKCE methods, and supported scopes.
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true

  /.well-known/oauth-protected-resource:
    get:
      operationId: getOAuthProtectedResourceMetadata
      tags: [Auth]
      summary: OAuth protected-resource metadata for API and MCP clients
      responses:
        '200':
          description: Resource identifier, authorization server, bearer method, and scopes.
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true

  /.well-known/jwks.json:
    get:
      operationId: getJsonWebKeySet
      tags: [Auth]
      summary: Public Ed25519 keys used to verify Pagent access tokens
      responses:
        '200':
          description: JSON Web Key Set.
          content:
            application/json:
              schema:
                type: object
                required: [keys]
                properties:
                  keys:
                    type: array
                    items:
                      type: object
                      additionalProperties: true

  /oauth/register:
    post:
      operationId: registerOAuthClient
      tags: [Auth]
      summary: Dynamically register a public OAuth client
      description: |
        Rate-limited to 10 registrations per source IP per hour. Redirect URIs
        must use HTTPS, except explicit HTTP loopback addresses; custom
        application schemes are supported for native clients.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [redirect_uris]
              additionalProperties: true
              properties:
                redirect_uris:
                  type: array
                  minItems: 1
                  items:
                    type: string
                    format: uri
                client_name:
                  type: string
      responses:
        '201':
          description: Registered OAuth client metadata, including its generated client ID.
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        '400':
          description: Invalid client metadata.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OAuthError'
        '429':
          description: Registration rate limit exceeded.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error429'

  /oauth/authorize:
    get:
      operationId: authorizeOAuthClient
      tags: [Auth]
      summary: Start an OAuth authorization-code flow or browser session
      description: |
        OAuth clients supply `response_type=code`, `client_id`, `redirect_uri`,
        an S256 PKCE challenge, and optional scopes/state. The renderer uses
        `browser_session=1` to start
        its cookie-backed browser login. OAuth-client requests return a local,
        cookie-bound consent page that identifies the unverified client, exact
        return destination, and requested scopes before any sign-in provider is
        exposed. Browser-session requests return the sign-in page directly.
      parameters:
        - name: response_type
          in: query
          description: Required and must be `code` for OAuth-client requests; omitted for `browser_session=1`.
          schema: { type: string, enum: [code] }
        - name: client_id
          in: query
          schema: { type: string }
        - name: redirect_uri
          in: query
          schema: { type: string, format: uri }
        - name: code_challenge
          in: query
          schema: { type: string }
        - name: code_challenge_method
          in: query
          schema: { type: string, enum: [S256] }
        - name: scope
          in: query
          schema: { type: string }
        - name: state
          in: query
          schema: { type: string }
        - name: browser_session
          in: query
          schema: { type: string, enum: ['1'] }
      responses:
        '200':
          description: HTML OAuth consent page or browser-session login page.
          content:
            text/html:
              schema: { type: string }
        '400':
          description: HTML error page for missing, unsupported, or unsafe OAuth request parameters.
          content:
            text/html:
              schema: { type: string }
        '429':
          description: Authorization rate limit exceeded.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error429'

  /oauth/authorize/consent:
    post:
      operationId: decideOAuthConsent
      tags: [Auth]
      summary: Allow or cancel a pending OAuth authorization request
      description: |
        Verifies the signed pending request and its HttpOnly browser transaction.
        Allowing re-signs the request as consented and renders Google and magic-link
        sign-in choices. Cancelling clears the transaction and renders a local
        confirmation; it never redirects the unauthenticated browser to the client.
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              required: [state, decision]
              properties:
                state:
                  type: string
                decision:
                  type: string
                  enum: [allow, cancel]
      responses:
        '200':
          description: HTML sign-in choices after Allow, or a local cancellation page.
          content:
            text/html:
              schema: { type: string }
        '400':
          description: HTML error page for an invalid, expired, or unbound transaction.
          content:
            text/html:
              schema: { type: string }

  /oauth/callback/google:
    get:
      operationId: completeGoogleAuthorization
      tags: [Auth]
      summary: Complete Google sign-in
      parameters:
        - name: code
          in: query
          required: true
          schema: { type: string }
        - name: state
          in: query
          required: true
          schema: { type: string }
      responses:
        '302':
          description: Redirect to the consented OAuth client with a code, or to the renderer after browser login.
        '400':
          description: HTML error page for an invalid or expired authorization transaction.
          content:
            text/html:
              schema: { type: string }

  /oauth/magic/send:
    post:
      operationId: sendMagicLink
      tags: [Auth]
      summary: Send a single-use magic sign-in link
      description: >-
        Accepts JSON or form data and applies per-email, per-client-IP, and
        process-wide provider safeguards.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MagicLinkRequest'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/MagicLinkRequest'
      responses:
        '200':
          description: The link was accepted for delivery.
          content:
            application/json:
              schema:
                type: object
                required: [ok, message]
                properties:
                  ok: { type: boolean, enum: [true] }
                  message: { type: string }
        '400':
          description: Invalid email or malformed request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OAuthError'
        '429':
          description: Per-email, per-client-IP, or provider-capacity limit exceeded.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error429'
        '503':
          description: SMTP is not configured.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OAuthError'

  /oauth/magic:
    get:
      operationId: completeMagicLinkAuthorization
      tags: [Auth]
      summary: Consume a single-use magic sign-in link
      description: |
        Inspects the link before consuming it. Browser-session and OAuth links
        must carry the matching HttpOnly browser transaction; OAuth links also
        require prior explicit consent and a still-valid registered redirect.
        An unbound email scanner receives an HTML 400 response without consuming
        the one-time link, so the intended browser can still complete sign-in.
      parameters:
        - name: token
          in: query
          required: true
          schema: { type: string }
      responses:
        '302':
          description: Redirect to the OAuth client with a code, or to the renderer after browser login.
        '400':
          description: HTML error page for a missing, invalid, expired, already-used, or browser-unbound link. Browser-binding failures do not consume an otherwise active link.
          content:
            text/html:
              schema: { type: string }

  /oauth/token:
    post:
      operationId: exchangeOAuthToken
      tags: [Auth]
      summary: Exchange an authorization code or rotate a refresh token
      description: Public-client OAuth token endpoint. Authorization codes require S256 PKCE.
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              required: [grant_type, client_id]
              properties:
                grant_type:
                  type: string
                  enum: [authorization_code, refresh_token]
                client_id: { type: string }
                code: { type: string }
                redirect_uri: { type: string, format: uri }
                code_verifier: { type: string }
                refresh_token: { type: string }
      responses:
        '200':
          description: Access token and refresh token.
          headers:
            Cache-Control:
              schema: { type: string, enum: [no-store] }
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OAuthTokenResponse'
        '400':
          description: Invalid request, grant, client, or unsupported grant type.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OAuthError'
        '401':
          description: Unknown OAuth client.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OAuthError'
        '429':
          description: Token endpoint rate limit exceeded.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error429'

  /oauth/revoke:
    post:
      operationId: revokeOAuthToken
      tags: [Auth]
      summary: Revoke a refresh token family
      description: Returns 200 even when the token is unknown, as required by RFC 7009.
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              required: [token]
              properties:
                token: { type: string }
                token_type_hint: { type: string }
                client_id: { type: string }
      responses:
        '200':
          description: Revocation request accepted.
        '429':
          description: Revocation endpoint rate limit exceeded.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error429'

  /auth/me:
    get:
      operationId: getCurrentBrowserUser
      tags: [Auth]
      summary: Return the current cookie-authenticated browser user
      security:
        - CookieAuth: []
      responses:
        '200':
          description: Current user profile.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserProfile'
        '401':
          description: Missing, expired, or invalid browser session.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OAuthError'

  /auth/logout:
    post:
      operationId: logoutBrowserSession
      tags: [Auth]
      summary: Revoke and clear the current browser session
      security:
        - CookieAuth: []
        - {}
      responses:
        '200':
          description: Session cleared; idempotent when no cookie is present.
          content:
            application/json:
              schema:
                type: object
                required: [ok]
                properties:
                  ok: { type: boolean, enum: [true] }

  /new:
    post:
      operationId: createPage
      tags: [Pages]
      summary: Create a new page
      description: |
        Creates a new page from a spec and returns a short URL to share
        with the user. The page starts in state `open`.

        The `format` field (default `a2ui`) selects the spec shape:
        - `a2ui` — `spec` is an A2UI v0.9 message array. The service stores
          and serves it back verbatim. Pages collect user input and produce a
          result.
        - `html` — `spec` is a UTF-8 HTML string (up to 1,000,000 bytes). The
          service sanitises it with DOMPurify before storage. Pages are
          view-only: they never transition past `open`, and
          `POST /{id}/result` returns 400 `invalid_for_format`.

        **What to do next:** print the returned `url` in the terminal (or chat)
        so the user can open it in a browser. For A2UI pages, poll
        `GET /{id}/result` until `state` is no longer `open`. For HTML pages,
        there is nothing to poll for — once the user opens the URL, you are
        done.

        Rate-limited to 30 requests per minute per source IP.

        In rollout grace mode (`REQUIRE_AUTH=false`), anonymous creation is
        allowed. A valid Bearer token is still required to include
        `page:create`; otherwise this route returns 403.
      security:
        - BearerAuth: []
        - CookieAuth: []
        - {}
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/NewPageRequest'
            example:
              spec:
                - createSurface:
                    surfaceId: main
                    catalogId: https://a2ui.org/specification/v0_9/basic_catalog.json
                - updateComponents:
                    surfaceId: main
                    components: []
      responses:
        '201':
          description: Page created. Open the returned URL in a browser.
          headers:
            X-Request-ID:
              $ref: '#/components/headers/XRequestId'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NewPageResponse'
        '400':
          description: |
            Request body is malformed or missing the `spec` field.
            Fix the request before retrying.
          headers:
            X-Request-ID:
              $ref: '#/components/headers/XRequestId'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error400'
        '413':
          description: |
            Request body exceeds the service limit. A2UI specs cap at
            256 000 bytes (post-parse); HTML payloads cap at 1 000 000 bytes
            (wire body limit). The response's `format` field tells you which
            cap fired so you can size the next submission appropriately.
          headers:
            X-Request-ID:
              $ref: '#/components/headers/XRequestId'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error413'
              example:
                error: payload_too_large
                format: a2ui
                max_bytes: 256000
                message: A2UI spec exceeds the 256 KB limit; use format "html" for larger payloads only when appropriate
        '401':
          description: Authentication is required when `REQUIRE_AUTH=true`.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OAuthError'
        '403':
          description: |
            A valid Bearer token is missing the `page:create` scope. Scope
            checks apply even in rollout grace mode, when an anonymous request
            would be allowed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OAuthError'
        '429':
          description: |
            Per-IP rate limit exceeded. Wait `retry_after_seconds` seconds
            before retrying. The `Retry-After` response header carries the
            same value in seconds (RFC 7231).
          headers:
            X-Request-ID:
              $ref: '#/components/headers/XRequestId'
            Retry-After:
              $ref: '#/components/headers/RetryAfter'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error429'
              example:
                error: rate_limited
                retry_after_seconds: 60
        '500':
          description: |
            Unexpected server error. Quote the `request_id` from the response
            body (or the `X-Request-ID` header — they are identical) in any
            bug report. Do not retry in a tight loop; this is unlikely to
            self-heal without a deployment.
          headers:
            X-Request-ID:
              $ref: '#/components/headers/XRequestId'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error500'

  /v1/workspace:
    get:
      operationId: getWorkspaceAdmin
      tags: [Workspace]
      summary: Get the current owner or admin workspace governance view
      security: [{ CookieAuth: [] }, { BearerAuth: [] }]
      responses:
        '200':
          description: Workspace policy, page metadata, membership, teams, and recent audit activity.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/WorkspaceAdminView' }
        '401': { description: Authentication required. }
        '403': { description: Active owner or admin membership required. }

  /v1/workspace/members:
    post:
      operationId: addWorkspaceMember
      tags: [Workspace]
      summary: Add or reactivate an existing Pagent user
      security: [{ CookieAuth: [] }, { BearerAuth: [] }]
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/WorkspaceMemberRequest' }
      responses:
        '201':
          description: Active workspace membership.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/WorkspaceMember' }
        '400': { description: Invalid email or role. }
        '401': { description: Authentication required. }
        '403': { description: Active owner or admin membership required. }
        '404': { description: No existing Pagent user has that email. }

  /v1/workspace/members/{memberId}:
    delete:
      operationId: suspendWorkspaceMember
      tags: [Workspace]
      summary: Suspend a non-owner workspace member and revoke page grants
      security: [{ CookieAuth: [] }, { BearerAuth: [] }]
      parameters:
        - { name: memberId, in: path, required: true, schema: { type: string, format: uuid } }
      responses:
        '204': { description: Member suspended. }
        '401': { description: Authentication required. }
        '403':
          { description: Cannot remove an owner, yourself, or a member outside this workspace. }
        '404': { description: Invalid member identifier. }

  /v1/workspace/policy:
    put:
      operationId: updateWorkspacePolicy
      tags: [Workspace]
      summary: Update analytics consent and retention policy
      security: [{ CookieAuth: [] }, { BearerAuth: [] }]
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/WorkspacePolicyRequest' }
      responses:
        '204': { description: Policy updated. }
        '400': { description: Invalid policy. }
        '401': { description: Authentication required. }
        '403': { description: Active owner or admin membership required. }

  /v1/decks:
    get:
      operationId: listDecks
      tags: [Decks]
      summary: List searchable decks visible to the authenticated member
      security: [{ CookieAuth: [] }, { BearerAuth: [] }]
      parameters:
        - { name: q, in: query, schema: { type: string, maxLength: 200 } }
        - {
            name: scope,
            in: query,
            schema: { type: string, enum: [mine, shared, team], default: mine },
          }
        - {
            name: status,
            in: query,
            schema: { type: string, enum: [active, archived, expired, revoked] },
          }
        - { name: owner, in: query, schema: { type: string, format: uuid } }
        - { name: sender, in: query, schema: { type: string, format: uuid } }
      responses:
        '200': { description: Deck summaries including owner, sender, link, and analytics rollups. }
        '401': { description: Authentication required. }
    post:
      operationId: publishDeck
      tags: [Decks]
      summary: Publish a durable deck or immutable revision
      description: |
        Publish the submitted HTML document itself, without a Pagent slide
        structure. HTML source is retained exactly; CSS and inline JavaScript
        execute only in the protected document sandbox. The `slides` variant
        is a legacy REST compatibility path and retains sanitization.
        Exactly one of `html` or `slides` is required. The HTML value is capped
        at 1,000,000 UTF-8 bytes; the overall HTTP body is also capped at
        1,000,000 bytes, so JSON escaping and metadata reduce the usable payload.
      security: [{ CookieAuth: [] }, { BearerAuth: [] }]
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/PublishDeckRequest' }
      responses:
        '200':
          description: Existing deck updated with a new immutable revision.
          content: { application/json: { schema: { $ref: '#/components/schemas/PublishedDeck' } } }
        '201':
          description: Deck and first revision created.
          content: { application/json: { schema: { $ref: '#/components/schemas/PublishedDeck' } } }
        '400': { description: Invalid input or legacy slide content empty after sanitization. }
        '401': { description: Authentication required. }
        '413': { description: Overall HTTP body exceeds 1, 000, 000 bytes. }

  /v1/decks/{deckId}:
    parameters: [{ $ref: '#/components/parameters/DeckId' }]
    get:
      operationId: getDeck
      tags: [Decks]
      summary: Get deck metadata, revision history, and recent activity
      security: [{ CookieAuth: [] }, { BearerAuth: [] }]
      responses:
        '200':
          description: Deck detail and retained revision metadata; historical preview/restore is P1.
          content: { application/json: { schema: { $ref: '#/components/schemas/DeckDetail' } } }
        '403': { description: Content access denied. }
    patch:
      operationId: renameDeck
      tags: [Decks]
      summary: Rename a deck
      security: [{ CookieAuth: [] }, { BearerAuth: [] }]
      requestBody:
        required: true
        content:
          {
            application/json:
              {
                schema:
                  {
                    type: object,
                    required: [title],
                    properties: { title: { type: string, maxLength: 160 } },
                  },
              },
          }
      responses:
        '204': { description: Deck renamed. }
        '403': { description: Owner access required. }
    delete:
      operationId: deleteDeck
      tags: [Decks]
      summary: Delete a deck and immediately revoke links and sessions
      security: [{ CookieAuth: [] }, { BearerAuth: [] }]
      responses:
        '204': { description: Deck deleted and viewer access revoked. }
        '403': { description: Owner access required. }

  /v1/decks/{deckId}/preview:
    parameters: [{ $ref: '#/components/parameters/DeckId' }]
    get:
      operationId: previewDeck
      tags: [Decks]
      summary: Get the latest revision without recording analytics
      description: |
        HTML revisions return the exact source in `html` and an empty `slides`
        array. Legacy revisions return `html: null` and their sanitized slides.
        Render HTML only through the protected owner document route, never in
        the application's DOM. Earlier revision preview/restore remains P1.
      security: [{ CookieAuth: [] }, { BearerAuth: [] }]
      responses:
        '200':
          description: Latest HTML or legacy slide revision.
          content: { application/json: { schema: { $ref: '#/components/schemas/DeckPreview' } } }
        '403': { description: Content access denied. }

  /v1/decks/{deckId}/archive:
    parameters: [{ $ref: '#/components/parameters/DeckId' }]
    post:
      operationId: archiveDeck
      tags: [Decks]
      summary: Archive a deck
      security: [{ CookieAuth: [] }, { BearerAuth: [] }]
      responses:
        { '204': { description: Deck archived. }, '403': { description: Owner access required. } }

  /v1/decks/{deckId}/restore:
    parameters: [{ $ref: '#/components/parameters/DeckId' }]
    post:
      operationId: restoreDeck
      tags: [Decks]
      summary: Restore an archived deck
      security: [{ CookieAuth: [] }, { BearerAuth: [] }]
      responses:
        { '204': { description: Deck restored. }, '403': { description: Owner access required. } }

  /v1/decks/{deckId}/analytics:
    parameters: [{ $ref: '#/components/parameters/DeckId' }]
    get:
      operationId: getDeckAnalytics
      tags: [Analytics]
      summary: Get authorized deck engagement analytics
      description: |
        Viewer email filters are deliberately unavailable in URL query
        parameters; use the JSON query endpoint to keep emails out of URLs and
        access logs. HTML visits have page-level time only, null slide metrics,
        and no slide rollups. Mixed-history completion uses only known legacy
        slide completion, never HTML visits as zero.
      security: [{ CookieAuth: [] }, { BearerAuth: [] }]
      parameters:
        - { name: link_id, in: query, schema: { type: string, format: uuid } }
        - { name: sender, in: query, schema: { type: string, format: uuid } }
        - { name: revision, in: query, schema: { type: integer, minimum: 1 } }
        - { name: from, in: query, schema: { type: string, format: date-time } }
        - { name: to, in: query, schema: { type: string, format: date-time } }
      responses:
        '200':
          description: Format-aware overview, visitor, legacy slide, and visit analytics.
          content: { application/json: { schema: { $ref: '#/components/schemas/DeckAnalytics' } } }
        '403': { description: Analytics access denied. }

  /v1/decks/{deckId}/analytics/query:
    parameters: [{ $ref: '#/components/parameters/DeckId' }]
    post:
      operationId: queryDeckAnalytics
      tags: [Analytics]
      summary: Filter analytics, including by viewer, without exposing filters in URLs
      security: [{ CookieAuth: [] }, { BearerAuth: [] }]
      requestBody:
        required: true
        content: { application/json: { schema: { $ref: '#/components/schemas/AnalyticsFilters' } } }
      responses:
        '200':
          description: Filtered analytics with the same format-aware metric semantics as GET.
          content: { application/json: { schema: { $ref: '#/components/schemas/DeckAnalytics' } } }
        '403': { description: Analytics access denied. }

  /v1/decks/{deckId}/analytics.csv:
    parameters: [{ $ref: '#/components/parameters/DeckId' }]
    get:
      operationId: exportDeckAnalytics
      tags: [Analytics]
      summary: Export analytics without a viewer filter
      security: [{ CookieAuth: [] }, { BearerAuth: [] }]
      responses:
        {
          '200': { description: Audited CSV export. },
          '403': { description: Analytics access denied. },
        }
    post:
      operationId: exportFilteredDeckAnalytics
      tags: [Analytics]
      summary: Export filtered analytics without exposing viewer emails in URLs
      security: [{ CookieAuth: [] }, { BearerAuth: [] }]
      requestBody:
        required: true
        content: { application/json: { schema: { $ref: '#/components/schemas/AnalyticsFilters' } } }
      responses:
        {
          '200': { description: Audited CSV export. },
          '403': { description: Analytics access denied. },
        }

  /v1/decks/{deckId}/share-links:
    parameters: [{ $ref: '#/components/parameters/DeckId' }]
    get:
      operationId: listShareLinks
      tags: [Sharing]
      summary: List links the owner or link creator may manage
      security: [{ CookieAuth: [] }, { BearerAuth: [] }]
      responses:
        {
          '200': { description: Share link summaries; raw tokens are never returned. },
          '403': { description: Access denied. },
        }
    post:
      operationId: createShareLink
      tags: [Sharing]
      summary: Create an Anyone, Allowed email, or Authenticated viewer link
      security: [{ CookieAuth: [] }, { BearerAuth: [] }]
      requestBody:
        required: true
        content: { application/json: { schema: { $ref: '#/components/schemas/ShareLinkRequest' } } }
      responses:
        {
          '201': { description: Link created; the raw token is returned exactly once. },
          '403': { description: Owner access required. },
        }

  /v1/decks/{deckId}/share-links/{linkId}:
    parameters:
      [{ $ref: '#/components/parameters/DeckId' }, { $ref: '#/components/parameters/ShareLinkId' }]
    put:
      operationId: updateShareLink
      tags: [Sharing]
      summary: Update link access and revoke its existing viewer sessions
      security: [{ CookieAuth: [] }, { BearerAuth: [] }]
      requestBody:
        required: true
        content: { application/json: { schema: { $ref: '#/components/schemas/ShareLinkRequest' } } }
      responses: { '204': { description: Link updated. }, '403': { description: Access denied. } }

  /v1/decks/{deckId}/share-links/{linkId}/revoke:
    parameters:
      [{ $ref: '#/components/parameters/DeckId' }, { $ref: '#/components/parameters/ShareLinkId' }]
    post:
      operationId: revokeShareLink
      tags: [Sharing]
      summary: Revoke a link and all already-open sessions
      security: [{ CookieAuth: [] }, { BearerAuth: [] }]
      responses:
        {
          '204': { description: Link and sessions revoked. },
          '403': { description: Access denied. },
        }

  /v1/decks/{deckId}/share-links/{linkId}/preview:
    parameters:
      [{ $ref: '#/components/parameters/DeckId' }, { $ref: '#/components/parameters/ShareLinkId' }]
    post:
      operationId: previewShareLink
      tags: [Sharing]
      summary: Create an analytics-excluded owner preview session
      security: [{ CookieAuth: [] }, { BearerAuth: [] }]
      responses:
        {
          '200': { description: Short-lived preview session. },
          '403': { description: Access denied. },
        }

  /v1/decks/{deckId}/share-links/{linkId}/requests:
    parameters:
      [{ $ref: '#/components/parameters/DeckId' }, { $ref: '#/components/parameters/ShareLinkId' }]
    get:
      operationId: listAccessRequests
      tags: [Sharing]
      summary: List link-specific access requests
      security: [{ CookieAuth: [] }, { BearerAuth: [] }]
      responses:
        { '200': { description: Access requests. }, '403': { description: Access denied. } }

  /v1/decks/{deckId}/share-links/{linkId}/requests/{requestId}:
    parameters:
      - { $ref: '#/components/parameters/DeckId' }
      - { $ref: '#/components/parameters/ShareLinkId' }
      - { name: requestId, in: path, required: true, schema: { type: string, format: uuid } }
    post:
      operationId: decideAccessRequest
      tags: [Sharing]
      summary: Approve or deny a request without changing the link access mode
      security: [{ CookieAuth: [] }, { BearerAuth: [] }]
      requestBody:
        required: true
        content:
          {
            application/json:
              {
                schema:
                  {
                    type: object,
                    required: [decision],
                    properties: { decision: { type: string, enum: [approved, denied] } },
                  },
              },
          }
      responses:
        { '204': { description: Decision recorded. }, '403': { description: Access denied. } }

  /v1/decks/{deckId}/access:
    parameters: [{ $ref: '#/components/parameters/DeckId' }]
    get:
      operationId: getDeckAccessSettings
      tags: [Permissions]
      summary: Get content collaborators, workspace members, teams, analytics scope, consent, and retention
      security: [{ CookieAuth: [] }, { BearerAuth: [] }]
      responses:
        { '200': { description: Access settings. }, '403': { description: Owner access required. } }

  /v1/decks/{deckId}/access/members:
    parameters: [{ $ref: '#/components/parameters/DeckId' }]
    post:
      operationId: addWorkspaceMember
      tags: [Permissions]
      summary: Add or reactivate a member by email
      security: [{ CookieAuth: [] }, { BearerAuth: [] }]
      requestBody:
        required: true
        content:
          {
            application/json:
              {
                schema:
                  {
                    type: object,
                    required: [email, role],
                    properties:
                      {
                        email: { type: string, format: email },
                        role: { type: string, enum: [admin, member] },
                      },
                  },
              },
          }
      responses:
        { '201': { description: Member added. }, '403': { description: Owner access required. } }

  /v1/decks/{deckId}/access/members/{memberId}:
    parameters:
      - { $ref: '#/components/parameters/DeckId' }
      - { name: memberId, in: path, required: true, schema: { type: string, format: uuid } }
    delete:
      operationId: removeWorkspaceMember
      tags: [Permissions]
      summary: Suspend a member and immediately remove content and analytics access
      security: [{ CookieAuth: [] }, { BearerAuth: [] }]
      responses:
        {
          '204': { description: Member access removed. },
          '403': { description: Owner access required. },
        }

  /v1/decks/{deckId}/access/teams:
    parameters: [{ $ref: '#/components/parameters/DeckId' }]
    post:
      operationId: createWorkspaceTeam
      tags: [Permissions]
      summary: Create a workspace team with active members
      security: [{ CookieAuth: [] }, { BearerAuth: [] }]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: false
              required: [name, memberIds]
              properties:
                name: { type: string, minLength: 1, maxLength: 160 }
                memberIds:
                  type: array
                  minItems: 1
                  maxItems: 500
                  items: { type: string, format: uuid }
      responses:
        '201': { description: Team created. }
        '403': { description: Owner access required. }

  /v1/decks/{deckId}/access/collaborators:
    parameters: [{ $ref: '#/components/parameters/DeckId' }]
    put:
      operationId: setDeckCollaborators
      tags: [Permissions]
      summary: Set the active members who may view deck content
      security: [{ CookieAuth: [] }, { BearerAuth: [] }]
      requestBody:
        required: true
        content:
          {
            application/json:
              {
                schema:
                  {
                    type: object,
                    required: [memberIds],
                    properties:
                      { memberIds: { type: array, items: { type: string, format: uuid } } },
                  },
              },
          }
      responses:
        {
          '204': { description: Content collaborators replaced. },
          '403': { description: Owner access required. },
        }

  /v1/decks/{deckId}/access/analytics/preview:
    parameters: [{ $ref: '#/components/parameters/DeckId' }]
    post:
      operationId: previewAnalyticsAudience
      tags: [Permissions]
      summary: Preview the exact active members a visibility change would authorize
      security: [{ CookieAuth: [] }, { BearerAuth: [] }]
      requestBody:
        required: true
        content:
          {
            application/json:
              { schema: { $ref: '#/components/schemas/AnalyticsVisibilityRequest' } },
          }
      responses:
        {
          '200': { description: Exact effective audience. },
          '403': { description: Owner access required. },
        }

  /v1/decks/{deckId}/access/analytics:
    parameters: [{ $ref: '#/components/parameters/DeckId' }]
    put:
      operationId: setAnalyticsVisibility
      tags: [Permissions]
      summary: Set private, selected, team, or workspace analytics visibility
      security: [{ CookieAuth: [] }, { BearerAuth: [] }]
      requestBody:
        required: true
        content:
          {
            application/json:
              { schema: { $ref: '#/components/schemas/AnalyticsVisibilityRequest' } },
          }
      responses:
        {
          '200': { description: Saved scope and exact effective audience. },
          '403': { description: Owner access required. },
        }

  /v1/decks/{deckId}/access/policy:
    parameters: [{ $ref: '#/components/parameters/DeckId' }]
    put:
      operationId: setAnalyticsPolicy
      tags: [Permissions]
      summary: Configure viewer consent and analytics retention
      security: [{ CookieAuth: [] }, { BearerAuth: [] }]
      requestBody:
        required: true
        content:
          {
            application/json:
              {
                schema:
                  {
                    type: object,
                    required: [consentRequired, retentionDays],
                    properties:
                      {
                        consentRequired: { type: boolean },
                        retentionDays: { type: integer, minimum: 30, maximum: 2555 },
                      },
                  },
              },
          }
      responses:
        {
          '204': { description: Policy saved and audited. },
          '403': { description: Owner access required. },
        }

  /v1/decks/{deckId}/analytics/viewer:
    parameters: [{ $ref: '#/components/parameters/DeckId' }]
    delete:
      operationId: deleteViewerAnalytics
      tags: [Permissions]
      summary: Delete retained analytics for a normalized viewer email
      security: [{ CookieAuth: [] }, { BearerAuth: [] }]
      requestBody:
        required: true
        content:
          {
            application/json:
              {
                schema:
                  {
                    type: object,
                    required: [email],
                    properties: { email: { type: string, format: email } },
                  },
              },
          }
      responses:
        {
          '200':
            { description: Number of visits removed; the audit event stores only an email hash. },
          '403': { description: Owner access required. },
        }

  /v1/decks/{deckId}/audit:
    parameters: [{ $ref: '#/components/parameters/DeckId' }]
    get:
      operationId: getDeckAuditLog
      tags: [Permissions]
      summary: Get permission, sharing, access, deletion, and export audit events
      security: [{ CookieAuth: [] }, { BearerAuth: [] }]
      responses:
        {
          '200': { description: Most recent 200 deck audit events. },
          '403': { description: Owner access required. },
        }

  /v1/share:
    get:
      operationId: getShareMetadata
      tags: [Viewer]
      summary: Resolve non-sensitive metadata and availability for a share token
      parameters: [{ $ref: '#/components/parameters/ShareToken' }]
      responses:
        {
          '200': { description: Deck title, sender, access mode, and state; never deck content. },
          '404': { description: Generic unavailable response. },
        }

  /v1/share/access:
    post:
      operationId: requestViewerSession
      tags: [Viewer]
      summary: Open a viewer session under the link access mode
      parameters: [{ $ref: '#/components/parameters/ShareToken' }]
      requestBody:
        content:
          {
            application/json:
              { schema: { type: object, properties: { email: { type: string, format: email } } } },
          }
      responses:
        {
          '200': { description: Granted session or generic access gate state. },
          '404': { description: Generic unavailable response. },
          '429': { description: Per-client-IP viewer write limit exceeded. },
        }

  /v1/share/request:
    post:
      operationId: createAccessRequest
      tags: [Viewer]
      summary: Ask the sender for link-specific access
      parameters: [{ $ref: '#/components/parameters/ShareToken' }]
      requestBody:
        required: true
        content:
          {
            application/json:
              {
                schema:
                  {
                    type: object,
                    required: [email],
                    properties: { email: { type: string, format: email } },
                  },
              },
          }
      responses:
        {
          '202': { description: Generic request accepted response. },
          '404': { description: Generic unavailable response. },
          '429': { description: Per-client-IP viewer write limit exceeded. },
        }

  /v1/share/request/{requestId}:
    parameters:
      - { $ref: '#/components/parameters/ShareToken' }
      - { name: requestId, in: path, required: true, schema: { type: string, format: uuid } }
    get:
      operationId: getAccessRequestStatus
      tags: [Viewer]
      summary: Check a link-specific request state
      responses:
        {
          '200': { description: Pending, approved, or denied. },
          '404': { description: Generic unavailable response. },
        }

  /v1/viewer/deck:
    get:
      operationId: getViewerDeck
      tags: [Viewer]
      summary: Fetch the latest revision for a live viewer session
      description: |
        HTML revisions return exact `html` and an empty `slides` array; legacy
        revisions return `html: null` and their existing slides. Render HTML
        only through `POST /v1/viewer/document`, not the parent application's DOM.
      parameters: [{ $ref: '#/components/parameters/ViewerSession' }]
      responses:
        '200':
          description: HTML or legacy slide content and identity confidence.
          content: { application/json: { schema: { $ref: '#/components/schemas/ViewerDeck' } } }
        '410': { description: Session expired, revoked, or deck deleted. }

  /v1/viewer/document:
    post:
      operationId: getViewerDocument
      tags: [Viewer]
      summary: Deliver protected HTML into the viewer's isolated frame
      description: |
        Submit a form to the document frame using the existing viewer session.
        The exact Origin header must match an allowlisted renderer origin.
        No `allowed_origin` body field or new frame token is accepted. All
        existing Anyone, Allowed email (Unverified), and Authenticated access
        rules still apply. Credentials must not appear in URLs or served HTML.
        The requested revision must still be latest; reload revision metadata
        after 409. The served copy appends a nonvisual activity bridge without
        changing stored source. Activity messages are best-effort telemetry,
        not authenticated proof of a human visit. The viewer reveals HTML on
        iframe load independently of the bridge; author CSP may prevent metrics
        without hiding the document. For an allowlisted Origin and
        `Accept: text/html`, errors return generic sandboxed HTML posting
        `pagent:error`, preserving the HTTP status and no-store policy. JSON
        clients and rejected-Origin responses keep their existing error bodies.
      parameters:
        - { $ref: '#/components/parameters/RendererOrigin' }
        - { $ref: '#/components/parameters/DocumentAccept' }
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              additionalProperties: false
              required: [session_token, revision_id]
              properties:
                session_token: { type: string, minLength: 20, maxLength: 200 }
                revision_id: { type: string, format: uuid }
      responses:
        '200': { $ref: '#/components/responses/HtmlDocument' }
        '400':
          { $ref: '#/components/responses/DocumentFrameError', description: Invalid form fields. }
        '403':
          description: Missing or non-allowlisted Origin header; remains JSON regardless of Accept.
          content: { application/json: { schema: { $ref: '#/components/schemas/DocumentError' } } }
        '404':
          {
            $ref: '#/components/responses/DocumentFrameError',
            description: Viewer session unavailable.,
          }
        '409':
          {
            $ref: '#/components/responses/DocumentFrameError',
            description: Requested revision is no longer latest; revision_changed in JSON.,
          }
        '410':
          {
            $ref: '#/components/responses/DocumentFrameError',
            description: 'Session or link expired/revoked, or deck deleted.',
          }
        '415':
          {
            $ref: '#/components/responses/DocumentFrameError',
            description: Legacy slide revision; unsupported_format in JSON.,
          }
        '429':
          {
            $ref: '#/components/responses/DocumentFrameError',
            description: Document delivery rate limit exceeded.,
          }

  /v1/owner/document:
    post:
      operationId: getOwnerDocument
      tags: [Decks]
      summary: Deliver protected HTML for an authorized preview without a visit
      description: |
        Requires the existing auth cookie or a Bearer token with `page:read`,
        plus permission to view deck content. No separate frame token is
        issued. The exact Origin header must match an allowlisted renderer
        origin; body `allowed_origin` is not accepted. The requested revision
        must still be latest, and expired/revoked auth or deleted content fails
        closed. Credentials never appear in URLs or the served document.
        Immutable snapshots are retained, but historical preview/restore is P1.
        An allowlisted request accepting `text/html` receives a generic
        sandboxed HTML error that posts `pagent:error` to the parent, retaining
        the HTTP status and no-store policy. JSON clients and rejected Origins
        keep their existing error bodies.
      security: [{ CookieAuth: [] }, { BearerAuth: [] }]
      parameters:
        - { $ref: '#/components/parameters/RendererOrigin' }
        - { $ref: '#/components/parameters/DocumentAccept' }
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              additionalProperties: false
              required: [deck_id, revision_id]
              properties:
                deck_id: { type: string, format: uuid }
                revision_id: { type: string, format: uuid }
      responses:
        '200': { $ref: '#/components/responses/HtmlDocument' }
        '400':
          { $ref: '#/components/responses/DocumentFrameError', description: Invalid form fields. }
        '401':
          {
            $ref: '#/components/responses/DocumentFrameError',
            description: 'Authentication missing, expired, or invalid.',
          }
        '403':
          {
            $ref: '#/components/responses/DocumentFrameError',
            description: 'Origin, scope, or content denied; includes deleted content. Rejected Origins remain JSON regardless of Accept.',
          }
        '409':
          {
            $ref: '#/components/responses/DocumentFrameError',
            description: Requested revision is no longer latest; revision_changed in JSON.,
          }
        '415':
          {
            $ref: '#/components/responses/DocumentFrameError',
            description: Legacy slide revision; unsupported_format in JSON.,
          }
        '429':
          {
            $ref: '#/components/responses/DocumentFrameError',
            description: Document delivery rate limit exceeded.,
          }

  /v1/viewer/visits:
    post:
      operationId: startViewerVisit
      tags: [Engagement]
      summary: Start a human visit only after visibility and interaction qualification
      description: |
        Send `revisionId` to bind a visit to the revision actually displayed,
        including when a new revision is published while the frame is open.
        Omission retains the legacy behavior of using the latest revision.
      parameters: [{ $ref: '#/components/parameters/ViewerSession' }]
      requestBody:
        required: true
        content:
          { application/json: { schema: { $ref: '#/components/schemas/StartVisitRequest' } } }
      responses:
        {
          '200':
            {
              description: 'Visit started, excluded as preview or automation, or disabled by consent.',
            },
          '429': { description: Per-client-IP viewer write limit exceeded. },
        }

  /v1/viewer/visits/{visitId}/events:
    parameters:
      - { $ref: '#/components/parameters/ViewerSession' }
      - { name: visitId, in: path, required: true, schema: { type: string, format: uuid } }
    post:
      operationId: ingestEngagementEvents
      tags: [Engagement]
      summary: Idempotently ingest ordered or out-of-order engagement events
      requestBody:
        required: true
        content: { application/json: { schema: { $ref: '#/components/schemas/EngagementBatch' } } }
      responses:
        {
          '202': { description: Events accepted idempotently. },
          '410': { description: Session is unavailable or does not own the visit. },
          '429': { description: Per-client-IP engagement delivery limit exceeded. },
        }

  /{id}:
    parameters:
      - $ref: '#/components/parameters/PageId'
    get:
      operationId: getPage
      tags: [Pages]
      summary: Get page spec and current state
      description: |
        Returns the full page record including the original `spec`, the
        current `state`, the `result` (null until submitted), and when the
        page expires.

        **What to do next:**
        - If `state` is `open`, the user has not yet submitted. Show them the
          URL or wait.
        - If `state` is `submitted`, the result is ready — read it via
          `GET /{id}/result`.
        - If `state` is `received`, you have already consumed the result.
        - If `expires_at` is in the past, the page has been deleted and you
          will get 404.
      responses:
        '200':
          description: Page found.
          headers:
            X-Request-ID:
              $ref: '#/components/headers/XRequestId'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PageResponse'
        '404':
          description: |
            No active page with this ID exists. It may have expired (default
            TTL 30 minutes) or never been created. Create a new page if you
            need another.
          headers:
            X-Request-ID:
              $ref: '#/components/headers/XRequestId'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error404'
        '500':
          description: Unexpected server error. See 500 on `POST /new` for guidance.
          headers:
            X-Request-ID:
              $ref: '#/components/headers/XRequestId'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error500'

  /{id}/result:
    parameters:
      - $ref: '#/components/parameters/PageId'
    post:
      operationId: submitResult
      tags: [Pages]
      summary: Submit a user action for a page (browser → service)
      description: |
        Called by the renderer (browser) when the user submits a form. The
        body is an A2UI action object that the agent reads back via
        `GET /{id}/result`.

        Requires the page to be in state `open`. Calling this twice on the
        same page returns 409.

        **Note:** this endpoint is typically called by the Pagent renderer,
        not directly by the agent. Agents should use `GET /{id}/result`
        to read back the submitted action.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ResultRequest'
            example:
              name: submitted
              surfaceId: main
              sourceComponentId: submit-btn
              context:
                color: blue
              timestamp: '2024-01-15T12:34:56.789Z'
      responses:
        '200':
          description: Result recorded. The page is now in state `submitted`.
          headers:
            X-Request-ID:
              $ref: '#/components/headers/XRequestId'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SubmitOk'
        '400':
          description: |
            Request body is malformed or missing required fields (`name`,
            `surfaceId`); error `bad_request`. Or the target page is HTML
            (view-only and cannot accept a result); error `invalid_for_format`.
            Fix the request — or, for `invalid_for_format`, stop trying to
            submit to this page — before retrying.
          headers:
            X-Request-ID:
              $ref: '#/components/headers/XRequestId'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error400'
        '404':
          description: |
            No active page with this ID. The page may have expired. Create
            a new page.
          headers:
            X-Request-ID:
              $ref: '#/components/headers/XRequestId'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error404'
        '409':
          description: |
            The page was already submitted. Each page is single-shot — only
            one result can be recorded per page. Create a new page if you
            need another submission.
          headers:
            X-Request-ID:
              $ref: '#/components/headers/XRequestId'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error409'
        '500':
          description: Unexpected server error. See 500 on `POST /new` for guidance.
          headers:
            X-Request-ID:
              $ref: '#/components/headers/XRequestId'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error500'
    get:
      operationId: getResult
      tags: [Pages]
      summary: Poll for a submitted result (agent → service)
      description: |
        Returns the current `state` and `result` for the page. Agents use
        this to poll until the user has submitted the form.

        **State transitions on read:**
        - If `state` is `open`, the user has not yet submitted. Poll again
          after a short back-off (e.g. 1 s, doubling to 30 s max).
        - The **first** call after submission returns `state: "submitted"` and
          the full result, then atomically flips the page to `received`. Use
          the returned result immediately — this is your one chance to observe
          the `submitted` state.
        - Subsequent calls return `state: "received"` with the same result.

        **What to do next:** parse the `result` object and continue the agent
        conversation. `result` is null until the user submits.

        In rollout grace mode (`REQUIRE_AUTH=false`), anonymous polling is
        allowed. A valid Bearer token is still required to include `page:read`;
        otherwise this route returns 403.
      security:
        - BearerAuth: []
        - CookieAuth: []
        - {}
      responses:
        '200':
          description: State and result returned.
          headers:
            X-Request-ID:
              $ref: '#/components/headers/XRequestId'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResultResponse'
        '404':
          description: |
            No active page with this ID. The page may have expired. Create
            a new page.
          headers:
            X-Request-ID:
              $ref: '#/components/headers/XRequestId'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error404'
        '401':
          description: Authentication is required when `REQUIRE_AUTH=true`.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OAuthError'
        '403':
          description: |
            A valid Bearer token is missing the `page:read` scope. Scope checks
            apply even in rollout grace mode, when an anonymous request would
            be allowed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OAuthError'
        '500':
          description: Unexpected server error. See 500 on `POST /new` for guidance.
          headers:
            X-Request-ID:
              $ref: '#/components/headers/XRequestId'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error500'

components:
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: |
        OAuth access token. Bearer-authenticated calls to `POST /new` require
        `page:create`, and Bearer-authenticated calls to `GET /{id}/result`
        require `page:read`. These scope checks also apply when
        `REQUIRE_AUTH=false`; that mode permits anonymous calls, not
        under-scoped Bearer calls.
    CookieAuth:
      type: apiKey
      in: cookie
      name: pagent_session
      description: HttpOnly browser session cookie issued after interactive login.

  parameters:
    DocumentAccept:
      name: Accept
      in: header
      description: Including text/html selects a sandboxed HTML error for allowlisted Origins; other clients retain JSON errors.
      schema: { type: string, example: text/html }
    RendererOrigin:
      name: Origin
      in: header
      required: true
      description: Exact allowlisted renderer origin; never derived from a form field.
      schema: { type: string, format: uri, example: 'https://pagent.link' }
    PageId:
      name: id
      in: path
      required: true
      description: 32-character lowercase hex page identifier.
      schema:
        $ref: '#/components/schemas/PageId'
    DeckId:
      name: deckId
      in: path
      required: true
      schema: { type: string, format: uuid }
    ShareLinkId:
      name: linkId
      in: path
      required: true
      schema: { type: string, format: uuid }
    ShareToken:
      name: X-Share-Token
      in: header
      required: true
      description: Opaque token returned only when the share link is created.
      schema: { type: string, minLength: 20 }
    ViewerSession:
      name: X-Viewer-Session
      in: header
      required: true
      description: Opaque viewer or owner-preview session token with a maximum seven-day lifetime.
      schema: { type: string, minLength: 20 }

  responses:
    DocumentFrameError:
      description: |
        The HTTP error status is preserved. With an allowlisted Origin and
        Accept containing text/html, returns generic sandboxed HTML with
        no-referrer/CSP headers and a pagent:error message to the parent.
        Otherwise the existing JSON error body is unchanged. An HTML error
        never includes deck content or credentials.
      headers:
        Cache-Control:
          schema: { type: string, const: 'private, no-store' }
      content:
        text/html:
          schema:
            { type: string, description: Generic sandboxed error document posting pagent:error. }
        application/json:
          schema: { $ref: '#/components/schemas/DocumentError' }
    HtmlDocument:
      description: |
        Full HTML plus an invisible telemetry bridge. Stored UTF-8 source is
        unchanged. Display is triggered by iframe load, not bridge readiness;
        author CSP can block the bridge and prevent metrics without hiding
        content. Serve only in a sandboxed document frame. CSP uses
        `sandbox allow-scripts` without `allow-same-origin`; author code has no
        Pagent account-cookie/storage or parent-DOM access. The supported
        document is self-contained HTML/CSS/inline JavaScript. CSP and sandbox
        restrict external assets, network APIs, forms, nested frames, popups,
        top navigation, eval, and workers. Parent frame policy blocks external
        navigation; this is not a blanket guarantee against any attempted
        browser network request.
      headers:
        Cache-Control:
          schema: { type: string, const: 'private, no-store' }
        Referrer-Policy:
          schema: { type: string, const: no-referrer }
        Content-Security-Policy:
          description: Restrictive document CSP including sandbox and allowlisted frame ancestors.
          schema: { type: string }
        X-Content-Type-Options:
          schema: { type: string, const: nosniff }
      content:
        text/html:
          schema: { type: string }

  headers:
    XRequestId:
      description: >
        A unique identifier for this request (32-character lowercase hex or a
        client-supplied value up to 128 characters). Quote it in bug reports —
        the same ID appears on every log line for that request.
      schema:
        type: string
        pattern: '^[A-Za-z0-9_-]{1,128}$'
    RetryAfter:
      description: Seconds to wait before the next attempt (RFC 7231).
      schema:
        type: integer
        minimum: 1

  schemas:
    DocumentError:
      type: object
      required: [error]
      description: Existing JSON error shape; extra fields depend on the error, such as retry_after_seconds.
      properties:
        error: { type: string }
    WorkspaceMember:
      type: object
      additionalProperties: false
      required: [id, email, handle, role, status]
      properties:
        id: { type: string, format: uuid }
        email: { type: string, format: email }
        handle: { type: [string, 'null'] }
        role: { type: string, enum: [owner, admin, member] }
        status: { type: string, enum: [active, suspended, left] }

    WorkspaceAdminView:
      type: object
      additionalProperties: false
      required: [workspace, pages, members, teams, recentAuditEvents]
      properties:
        workspace:
          type: object
          additionalProperties: false
          required:
            [
              id,
              name,
              role,
              verifiedDomains,
              analyticsConsentRequired,
              analyticsRetentionDays,
              pageCount,
            ]
          properties:
            id: { type: string, format: uuid }
            name: { type: string }
            role: { type: string, enum: [owner, admin] }
            verifiedDomains: { type: array, items: { type: string } }
            analyticsConsentRequired: { type: boolean }
            analyticsRetentionDays: { type: integer, minimum: 30, maximum: 2555 }
            pageCount: { type: integer, minimum: 0 }
        pages:
          type: array
          maxItems: 100
          description: Recent durable page metadata. Slide content and viewer analytics are never included.
          items:
            $ref: '#/components/schemas/WorkspacePageMetadata'
        members:
          type: array
          items: { $ref: '#/components/schemas/WorkspaceMember' }
        teams:
          type: array
          items:
            type: object
            additionalProperties: false
            required: [id, name, memberIds]
            properties:
              id: { type: string, format: uuid }
              name: { type: string }
              memberIds: { type: array, items: { type: string, format: uuid } }
        recentAuditEvents:
          type: array
          items:
            type: object
            additionalProperties: false
            required: [id, action, actorEmail, details, createdAt]
            properties:
              id: { type: string, format: uuid }
              action: { type: string }
              actorEmail: { type: [string, 'null'], format: email }
              details: {}
              createdAt: { type: string, format: date-time }

    WorkspacePageMetadata:
      type: object
      additionalProperties: false
      required: [id, title, status, ownerEmail, latestSenderEmail, linkCount, updatedAt]
      properties:
        id: { type: string, format: uuid }
        title: { type: string }
        status: { type: string, enum: [active, archived] }
        ownerEmail: { type: string, format: email }
        latestSenderEmail: { type: [string, 'null'], format: email }
        linkCount: { type: integer, minimum: 0 }
        updatedAt: { type: string, format: date-time }

    WorkspaceMemberRequest:
      type: object
      additionalProperties: false
      required: [email, role]
      properties:
        email: { type: string, format: email }
        role: { type: string, enum: [admin, member] }

    WorkspacePolicyRequest:
      type: object
      additionalProperties: false
      required: [consentRequired, retentionDays]
      properties:
        consentRequired: { type: boolean }
        retentionDays: { type: integer, minimum: 30, maximum: 2555 }

    PublishDeckRequest:
      description: Publish full HTML; legacy slides remain a REST-only compatibility form.
      oneOf:
        - $ref: '#/components/schemas/HtmlPublishDeckRequest'
        - $ref: '#/components/schemas/LegacySlidesPublishDeckRequest'

    HtmlPublishDeckRequest:
      type: object
      additionalProperties: false
      required: [title, html]
      properties:
        title: { type: string, minLength: 1, maxLength: 160 }
        description: { type: string, maxLength: 2000 }
        client_label: { type: string, maxLength: 160 }
        update_deck_id: { type: string, format: uuid }
        html:
          type: string
          minLength: 1
          maxLength: 1000000
          description: |
            Exact full HTML source, capped at 1,000,000 UTF-8 bytes without
            trimming or sanitization. NUL characters are rejected. The overall HTTP body has the same byte
            cap, so JSON escaping and metadata can lower the effective limit.
            Use self-contained CSS/inline JavaScript; see protected document
            delivery for sandbox restrictions. No slide structure is inferred.

    LegacySlidesPublishDeckRequest:
      description: Compatibility with shipped REST clients; not the advertised MCP write contract.
      type: object
      additionalProperties: false
      required: [title, slides]
      properties:
        title: { type: string, minLength: 1, maxLength: 160 }
        description: { type: string, maxLength: 2000 }
        client_label: { type: string, maxLength: 160 }
        update_deck_id: { type: string, format: uuid }
        slides:
          type: array
          minItems: 1
          maxItems: 500
          items:
            type: object
            additionalProperties: false
            required: [id, html]
            properties:
              id: { type: string, maxLength: 120, pattern: '^[a-zA-Z0-9][a-zA-Z0-9._-]*$' }
              title: { type: string, maxLength: 200 }
              html: { type: string, minLength: 1, maxLength: 1000000 }

    PublishedDeck:
      type: object
      required: [deckId, revisionId, revisionNumber]
      properties:
        deckId: { type: string, format: uuid }
        revisionId: { type: string, format: uuid }
        revisionNumber: { type: integer, minimum: 1 }

    DeckDetail:
      type: object
      required:
        [
          id,
          title,
          description,
          clientLabel,
          status,
          ownerId,
          ownerEmail,
          analyticsVisibility,
          latestRevisionNumber,
          createdAt,
          updatedAt,
          lastPublishedAt,
          revisions,
          recentActivity,
        ]
      properties:
        id: { type: string, format: uuid }
        title: { type: string }
        description: { type: [string, 'null'] }
        clientLabel: { type: [string, 'null'] }
        status: { type: string, enum: [active, archived] }
        ownerId: { type: string, format: uuid }
        ownerEmail: { type: string, format: email }
        analyticsVisibility: { type: string, enum: [private, selected, team, workspace] }
        latestRevisionNumber: { type: integer, minimum: 1 }
        createdAt: { type: string, format: date-time }
        updatedAt: { type: string, format: date-time }
        lastPublishedAt: { type: string, format: date-time }
        revisions:
          type: array
          description: Retained immutable revision metadata, newest first; not a historical preview/restore endpoint.
          items:
            type: object
            required: [id, revisionNumber, contentFormat, slideCount, createdByEmail, createdAt]
            properties:
              id: { type: string, format: uuid }
              revisionNumber: { type: integer, minimum: 1 }
              contentFormat: { type: string, enum: [html, slides] }
              slideCount:
                {
                  type: integer,
                  minimum: 0,
                  description: Zero for HTML revisions; no slides are inferred.,
                }
              createdByEmail: { type: string, format: email }
              createdAt: { type: string, format: date-time }
        recentActivity:
          type: array
          items:
            type: object
            required: [id, action, actorEmail, createdAt]
            properties:
              id: { type: string, format: uuid }
              action: { type: string }
              actorEmail: { type: [string, 'null'], format: email }
              createdAt: { type: string, format: date-time }

    DeckSlide:
      type: object
      description: Existing sanitized legacy slide; HTML revisions never fabricate these records.
      required: [id, stableSlideId, ordinal, title, html]
      properties:
        id: { type: string, format: uuid }
        stableSlideId: { type: string }
        ordinal: { type: integer, minimum: 1 }
        title: { type: [string, 'null'] }
        html: { type: string }

    DeckPreview:
      type: object
      required: [deckId, title, revisionId, revisionNumber, html, slides]
      properties:
        deckId: { type: string, format: uuid }
        title: { type: string }
        revisionId: { type: string, format: uuid }
        revisionNumber: { type: integer, minimum: 1 }
        html:
          type: [string, 'null']
          description: Exact source for HTML revisions; null for legacy slides.
        slides:
          type: array
          description: Empty for HTML revisions.
          items: { $ref: '#/components/schemas/DeckSlide' }

    ViewerDeck:
      type: object
      required:
        [
          deckId,
          deckTitle,
          revisionId,
          revisionNumber,
          html,
          shareLinkId,
          viewerSessionId,
          identityConfidence,
          preview,
          slides,
        ]
      properties:
        deckId: { type: string, format: uuid }
        deckTitle: { type: string }
        revisionId: { type: string, format: uuid }
        revisionNumber: { type: integer, minimum: 1 }
        html:
          type: [string, 'null']
          description: Exact source for HTML revisions; null for legacy slides.
        shareLinkId: { type: string, format: uuid }
        viewerSessionId: { type: string, format: uuid }
        identityConfidence: { type: string, enum: [anonymous, unverified, authenticated] }
        preview: { type: boolean }
        slides:
          type: array
          description: Empty for HTML revisions.
          items: { $ref: '#/components/schemas/DeckSlide' }

    DeckAnalytics:
      type: object
      required: [owner, contentFormat, revisionNumbers, overview, visitors, slides, visits]
      properties:
        owner:
          type: object
          required: [id, email]
          properties:
            id: { type: string, format: uuid }
            email: { type: string, format: email }
        contentFormat:
          type: string
          enum: [html, slides, mixed]
          description: Formats among retained revisions matching the revision filter, including revisions without matching visits.
        revisionNumbers:
          type: array
          description: Retained revisions matching the revision filter, newest first; includes revisions without matching visits.
          items: { type: integer, minimum: 1 }
        overview:
          type: object
          required:
            [
              totalVisits,
              uniqueViewers,
              lastViewed,
              averageActiveTimeMs,
              averageCompletion,
              topSlide,
            ]
          properties:
            totalVisits: { type: integer, minimum: 0 }
            uniqueViewers: { type: integer, minimum: 0 }
            lastViewed: { type: [string, 'null'], format: date-time }
            averageActiveTimeMs: { type: number, minimum: 0 }
            averageCompletion:
              type: [number, 'null']
              minimum: 0
              maximum: 1
              description: Known legacy slide completions only; HTML visits are excluded, not zero. Null for HTML-only scope.
            topSlide:
              oneOf:
                - $ref: '#/components/schemas/SlideRollup'
                - type: 'null'
        visitors:
          type: array
          items:
            type: object
            required:
              [
                viewer,
                identityConfidence,
                firstVisit,
                lastVisit,
                visits,
                totalActiveTimeMs,
                maximumCompletion,
              ]
            properties:
              viewer: { type: string }
              identityConfidence: { type: string, enum: [anonymous, unverified, authenticated] }
              firstVisit: { type: string, format: date-time }
              lastVisit: { type: string, format: date-time }
              visits: { type: integer, minimum: 1 }
              totalActiveTimeMs: { type: number, minimum: 0 }
              maximumCompletion:
                type: [number, 'null']
                minimum: 0
                maximum: 1
                description: Null when no legacy slide completion is known.
        slides:
          type: array
          description: Legacy slide rollups only; empty for HTML-only scope.
          items: { $ref: '#/components/schemas/SlideRollup' }
        visits:
          type: array
          items: { $ref: '#/components/schemas/AnalyticsVisit' }

    SlideRollup:
      type: object
      required:
        [
          slideId,
          stableSlideId,
          revisionNumber,
          ordinal,
          title,
          uniqueViewers,
          viewRate,
          averageActiveTimeMs,
          totalActiveTimeMs,
          exits,
        ]
      properties:
        slideId: { type: string, format: uuid }
        stableSlideId: { type: string }
        revisionNumber: { type: integer, minimum: 1 }
        ordinal: { type: integer, minimum: 1 }
        title: { type: [string, 'null'] }
        uniqueViewers: { type: integer, minimum: 0 }
        viewRate:
          type: number
          minimum: 0
          maximum: 1
          description: Qualified unique viewers divided by unique viewers of this legacy slide revision, within the selected filters. Zero when the revision has no viewers.
        averageActiveTimeMs: { type: number, minimum: 0 }
        totalActiveTimeMs: { type: number, minimum: 0 }
        exits: { type: integer, minimum: 0 }

    AnalyticsVisit:
      type: object
      required:
        [
          id,
          viewer,
          identityConfidence,
          startedAt,
          lastActivityAt,
          linkId,
          linkName,
          senderId,
          senderEmail,
          revisionNumber,
          totalActiveTimeMs,
          contentFormat,
          viewedSlides,
          completion,
          furthestSlide,
          lastSlide,
          sequenceComplete,
          slideSequence,
        ]
      properties:
        id: { type: string, format: uuid }
        viewer: { type: string }
        identityConfidence: { type: string, enum: [anonymous, unverified, authenticated] }
        startedAt: { type: string, format: date-time }
        lastActivityAt: { type: string, format: date-time }
        linkId: { type: string, format: uuid }
        linkName: { type: string }
        senderId: { type: string, format: uuid }
        senderEmail: { type: string, format: email }
        revisionNumber: { type: integer, minimum: 1 }
        totalActiveTimeMs: { type: number, minimum: 0 }
        contentFormat: { type: string, enum: [html, slides] }
        viewedSlides: { type: [integer, 'null'], minimum: 0, description: Null for HTML. }
        completion: { type: [number, 'null'], minimum: 0, maximum: 1, description: Null for HTML. }
        furthestSlide: { type: [integer, 'null'], minimum: 0, description: Null for HTML. }
        lastSlide: { type: [integer, 'null'], minimum: 0, description: Null for HTML. }
        sequenceComplete: { type: boolean }
        slideSequence:
          type: array
          description: Empty for HTML visits.
          items:
            type: object
            required: [slideId, ordinal, title, activeDurationMs, viewCount]
            properties:
              slideId: { type: string, format: uuid }
              ordinal: { type: integer, minimum: 1 }
              title: { type: [string, 'null'] }
              activeDurationMs: { type: number, minimum: 0 }
              viewCount: { type: integer, minimum: 0 }

    ShareLinkRequest:
      type: object
      additionalProperties: false
      required: [name, access_mode]
      properties:
        name: { type: string, minLength: 1, maxLength: 160 }
        access_mode: { type: string, enum: [anyone, allowed_email, authenticated] }
        allowed_emails: { type: array, maxItems: 500, items: { type: string, format: email } }
        allowed_domains: { type: array, maxItems: 100, items: { type: string, maxLength: 255 } }
        expires_at: { type: string, format: date-time }

    AnalyticsFilters:
      type: object
      additionalProperties: false
      properties:
        link_id: { type: string, format: uuid }
        viewer:
          {
            type: string,
            maxLength: 320,
            description: Sent in JSON so raw emails never enter analytics URLs.,
          }
        sender: { type: string, format: uuid }
        revision: { type: integer, minimum: 1 }
        from: { type: string, format: date-time }
        to: { type: string, format: date-time }

    AnalyticsVisibilityRequest:
      type: object
      additionalProperties: false
      required: [scope, subjectIds]
      properties:
        scope: { type: string, enum: [private, selected, team, workspace] }
        subjectIds: { type: array, items: { type: string, format: uuid } }

    StartVisitRequest:
      type: object
      additionalProperties: false
      required: [visible, interacted, analyticsConsent, deviceClass, browserFamily, countryCode]
      properties:
        revisionId:
          type: string
          format: uuid
          description: Displayed revision to bind this visit to; omitted by legacy clients to use latest.
        visible:
          { type: boolean, description: True only when the viewer is at least 50 percent visible. }
        interacted: { type: boolean }
        analyticsConsent: { type: boolean }
        deviceClass: { type: string, enum: [mobile, tablet, desktop, unknown] }
        browserFamily: { type: string, maxLength: 80 }
        countryCode: { type: [string, 'null'], minLength: 2, maxLength: 2 }

    EngagementBatch:
      type: object
      additionalProperties: false
      required: [events]
      properties:
        events:
          type: array
          minItems: 1
          maxItems: 10
          items:
            type: object
            additionalProperties: false
            required:
              [
                id,
                eventType,
                eventAt,
                sequence,
                visibleRatio,
                visibleDurationMs,
                tabVisible,
                recentlyActive,
              ]
            properties:
              id: { type: string, format: uuid, description: Idempotency key. }
              eventType: { type: string, enum: [start, heartbeat, slide_view, close] }
              slideId:
                {
                  type: string,
                  format: uuid,
                  description: Legacy slide events only; omit for HTML visit-level events.,
                }
              eventAt: { type: string, format: date-time }
              sequence: { type: integer, minimum: 0 }
              visibleRatio: { type: number, minimum: 0, maximum: 1 }
              visibleDurationMs: { type: integer, minimum: 0, maximum: 60000 }
              tabVisible: { type: boolean }
              recentlyActive:
                {
                  type: boolean,
                  description: 'False after 60 seconds without mouse, touch, or keyboard activity.',
                }

    OAuthError:
      type: object
      required: [error]
      properties:
        error: { type: string }
        error_description: { type: string }
        message: { type: string }

    MagicLinkRequest:
      type: object
      required: [email]
      properties:
        email:
          type: string
          format: email
        state:
          type: string
          description: >-
            Signed authorization state. Browser-session login receives it from
            `GET /oauth/authorize?browser_session=1`. An OAuth client receives
            the usable, consent-granted state in the HTML returned by
            `POST /oauth/authorize/consent`; the pre-consent state from the GET
            authorization page is rejected by this endpoint.

    OAuthTokenResponse:
      type: object
      required: [access_token, token_type, expires_in, refresh_token]
      properties:
        access_token: { type: string }
        token_type: { type: string, enum: [Bearer] }
        expires_in: { type: integer, minimum: 1 }
        refresh_token: { type: string }
        scope: { type: string }

    UserProfile:
      type: object
      required: [id, handle, email]
      properties:
        id: { type: string, format: uuid }
        handle: { type: [string, 'null'] }
        email: { type: string, format: email }
        name: { type: [string, 'null'] }
        avatar_url: { type: [string, 'null'], format: uri }

    PageId:
      type: string
      pattern: '^[a-f0-9]{32}$'
      description: 32-character lowercase hex identifier generated at page creation.
      example: c0f2ec161aac8b1a8d26222f45ca812d

    PageState:
      type: string
      enum: [open, submitted, received]
      description: |
        Lifecycle state of a page:
        - `open` — awaiting user submission.
        - `submitted` — user submitted; agent has not yet read the result.
        - `received` — agent has consumed the result via `GET /{id}/result`.

    Spec:
      description: >
        Page contents. Shape depends on the request's `format` field:
        `a2ui` (default) — an array of A2UI v0.9 messages; the service stores
        and returns this verbatim without parsing the structure.
        `html` — a UTF-8 HTML string up to 1,000,000 bytes; the service runs
        DOMPurify on the string at create time and stores the sanitised
        result.
      oneOf:
        - type: array
          description: A2UI v0.9 message array (when format is `a2ui`).
          items:
            type: object
            additionalProperties: true
        - type: string
          description: HTML body, up to 1,000,000 bytes (when format is `html`).
      example:
        - createSurface:
            surfaceId: main
            catalogId: https://a2ui.org/specification/v0_9/basic_catalog.json
        - updateComponents:
            surfaceId: main
            components: []

    PageFormat:
      type: string
      enum: [a2ui, html]
      description: |
        Spec format. `a2ui` (default) — `spec` is an A2UI v0.9 message array.
        `html` — `spec` is a UTF-8 HTML string up to 1,000,000 bytes; the
        page becomes view-only and never produces a result.

    NewPageRequest:
      type: object
      required: [spec]
      properties:
        spec:
          $ref: '#/components/schemas/Spec'
        format:
          type: string
          enum: [a2ui, html]
          default: a2ui
          description: |
            Spec format. `a2ui` (default) — `spec` is an A2UI v0.9 message array.
            `html` — `spec` is a UTF-8 HTML string up to 1,000,000 bytes; the
            page becomes view-only and never produces a result.

    NewPageResponse:
      type: object
      required: [id, url, expires_at]
      properties:
        id:
          $ref: '#/components/schemas/PageId'
        url:
          type: string
          format: uri
          description: >
            Short URL for the user to open in a browser. Points to the
            Pagent renderer with this page's ID.
          example: https://pagent.link/c0f2ec161aac8b1a8d26222f45ca812d
        expires_at:
          type: integer
          description: Unix epoch milliseconds when this page will be deleted.
          example: 1709122000000

    PageResponse:
      type: object
      required: [spec, format, state, result, expires_at]
      properties:
        spec:
          $ref: '#/components/schemas/Spec'
        format:
          $ref: '#/components/schemas/PageFormat'
        state:
          $ref: '#/components/schemas/PageState'
        result:
          type: object
          nullable: true
          description: >
            The submitted A2UI action, or null if the page is still open or
            if the page is an HTML page (HTML pages never produce a result).
            Shape mirrors `ResultRequest`.
        expires_at:
          type: integer
          description: Unix epoch milliseconds when this page will be deleted.
          example: 1709122000000

    ResultRequest:
      type: object
      required: [name, surfaceId]
      additionalProperties: true
      description: >
        An A2UI action object. Extra fields beyond those listed here are
        preserved verbatim (`.passthrough()` behaviour).
      properties:
        name:
          type: string
          minLength: 1
          description: Event name emitted by the A2UI component.
          example: submitted
        surfaceId:
          type: string
          minLength: 1
          description: ID of the surface that emitted the action.
          example: main
        sourceComponentId:
          type: string
          description: ID of the component that triggered the action.
          example: submit-btn
        context:
          type: object
          additionalProperties: true
          description: Arbitrary key/value pairs captured from the form state.
          example:
            color: blue
        timestamp:
          type: string
          format: date-time
          description: ISO 8601 timestamp of when the action was triggered.
          example: '2024-01-15T12:34:56.789Z'

    ResultResponse:
      type: object
      required: [state, result, format]
      properties:
        state:
          $ref: '#/components/schemas/PageState'
        format:
          $ref: '#/components/schemas/PageFormat'
        result:
          type: object
          nullable: true
          description: >
            The submitted A2UI action, or null if the page is still `open`.
            HTML pages always return null here — they never produce a result.

    SubmitOk:
      type: object
      required: [ok]
      properties:
        ok:
          type: boolean
          enum: [true]

    HealthOk:
      type: object
      required: [ok, db]
      properties:
        ok:
          type: boolean
          enum: [true]
        db:
          type: string
          enum: [ok]

    HealthError:
      type: object
      required: [ok, db, message]
      properties:
        ok:
          type: boolean
          enum: [false]
        db:
          type: string
          enum: [error]
        message:
          type: string
          description: Human-readable description of the failure.
          example: Database connection failed

    Error400:
      type: object
      required: [error, message]
      properties:
        error:
          type: string
          enum: [bad_request, invalid_for_format, sanitized_empty]
          description: |
            `bad_request` — body is malformed or fails schema validation.
            `invalid_for_format` — operation is not supported for this page's
            format (e.g. POSTing a result to an HTML page).
            `sanitized_empty` — `POST /new` with `format: "html"` whose payload
            was reduced to empty by the sanitizer (only forbidden tags like
            `<script>` or `<iframe>` were supplied). Re-author the HTML with
            safe markup and inline styles.
        format:
          type: string
          enum: [a2ui, html]
          description: |
            Present on `invalid_for_format` and `sanitized_empty` errors —
            identifies which format triggered the rejection.
        message:
          type: string
          description: Human-readable description of why the request was rejected.
          example: Request body did not match the expected schema
        issues:
          type: array
          description: Zod validation issues describing what failed.
          items:
            type: object
[...]
